In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import autogbm as agb
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("example_data/bank-additional-full.csv", sep=";")
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [5]:
category_cols = ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "day_of_week", "poutcome", "y"]
for col in category_cols:
    lbe = LabelEncoder()
    df[col] = lbe.fit_transform(df[col])
    
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,5,1,5,0,2,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,1,1,5,0,0,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,5,1,6,0,2,0,0,7,0,...,2,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,9,1,5,0,0,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,5,1,5,0,2,0,0,7,0,...,3,999,1,0,-1.1,94.767,-50.8,1.028,4963.6,0

In [2]:
train_data, test_data, train_label, test_label = train_test_split(df.drop("y", axis=1), df["y"], test_size=0.3, random_state=1024)
del df
trainset = pd.concat([train_data, train_label], axis=1)
testset = pd.concat([test_data, test_label], axis=1)
del train_data, train_label, test_data, test_label

agb.auto_train(train_set=trainset, label_name="y", test_set=testset)

Make dir(s) autogbm_models/5 succeed. Location: /Users/mac/Documents/multimodal/autogbm/autogbm_models/5
simple lgb predict train_loop_num: 1
Epoch=1, evaluation: nauc_score=0.8292973757040039, acc_score=0.85641233533067
simple lgb predict train_loop_num: 2
Epoch=2, evaluation: nauc_score=0.8523161503053516, acc_score=0.8705220227859953
simple lgb predict train_loop_num: 3
Epoch=3, evaluation: nauc_score=0.8641756421034024, acc_score=0.876198054770358
simple lgb predict train_loop_num: 4
Epoch=4, evaluation: nauc_score=0.8706566556594484, acc_score=0.8816139525955441
simple lgb predict train_loop_num: 5
Epoch=5, evaluation: nauc_score=0.8627930903577896, acc_score=0.8819539530598544
simple lgb predict train_loop_num: 6
Epoch=6, evaluation: nauc_score=0.872955691983806, acc_score=0.8841776049761564
simple lgb predict train_loop_num: 7
Epoch=7, evaluation: nauc_score=0.879725252095388, acc_score=0.8836675060821312
simple lgb predict train_loop_num: 8
Epoch=8, evaluation: nauc_score=0.888700487332027, acc_score=0.8834774563252178
{
    "cat_cols": [
        "c_job",
        "c_marital",
        "c_education",
        "c_default",
        "c_housing",
        "c_loan",
        "c_contact",
        "c_month",
        "c_day_of_week",
        "c_pdays",
        "c_previous",
        "c_poutcome"
    ],
    "num_cols": [
        "n_age",
        "n_duration",
        "n_campaign",
        "n_emp.var.rate",
        "n_cons.price.idx",
        "n_cons.conf.idx",
        "n_euribor3m",
        "n_nr.employed"
    ],
    "is_multi_label": null
}

> /Users/mac/Documents/multimodal/autogbm/autogbm/gbm.py(68)predict()
     66                 import pdb
     67                 pdb.set_trace()
---> 68                 self.data_space = TabularDataSpace(self.metadata_info, eda_info, main_df, self.Y_train, self.lgb_info)
     69                 self.model_space = TabularModelSpace(self.metadata_info, eda_info)
     70                 self.explore = Explore(self.metadata_info, eda_info, self.model_space, self.data_space)

ipdb>  q